@model IEnumerable<TCK_FinalProject.Models.StatisticMemberview>

@{
    ViewBag.Title = "StatisticMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h2 class="text-center mb-4">Statistic Member of Sale Book Quantity</h2>

    <p style="margin: 20px"></p>

    @using (Html.BeginForm("StatisticMember", "Admin", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="btn-group" style="display: flex; top: -5px">
            <input type="text" class="form-control col-md-10" value="@ViewBag.keyword_cus" name="customerName" placeholder="Enter Customer Name..." />
            <input type="text" class="form-control col-md-10" value="@ViewBag.keyword_food" name="foodName" placeholder="Enter Food Name..." />
            <input type="submit" class="btn btn-info" value="Search" />
        </div>
    }
    <p style="margin: 20px"></p>


    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Food Name</th>
                    <th scope="col">Sale Quantity</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CustomerName</td>
                        <td>@item.FoodName</td>
                        <td>@item.TotalQuantity.ToString()</td>
                        <td>@item.Totalprice.ToString()<span>.000đ</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Home", "AdminDashboard", "Admin", new { @class = "btn btn-info" })
</p>
