<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TCK TEAM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Food", new { area = "" })" class="navbar-brand">
                    <img src="~/Content/Images/logo/logo.png" alt="Logo" class="logo-image" height="45px" width="45px" style="position:relative ;top: -10px" />
                </a>
            </div>
            <!--
            Cấu trúc thanh điều hướng : Được sử dụng navbar-formvà navbar-rightcác lớp để căn chỉnh biểu mẫu tìm kiếm tốt hơn.
            Nhóm đầu vào cho tìm kiếm : Bao bọc đầu vào và nút tìm kiếm trong một nhóm đầu vào để có giao diện rõ ràng hơn.
            Responsive Collapse : Cải thiện khả năng phản hồi bằng cách thêm navbar-togglevà data-targetthuộc tính.
            Kiểu dáng nhất quán : Áp dụng kiểu dáng nhất quán cho các biểu mẫu và nút. Hãy thoải mái tùy chỉnh thêm kiểu dáng dựa trên sở thích thiết kế của bạn.
            -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Food")</li>                   
                    
                    <li>@Html.Partial("~/Views/Cart/CartPartial.cshtml")</li>
                    @{
                        string nav = ViewContext.RouteData.Values["controller"] as string;
                    }
                    @if (Session["Admin"] != null && nav.Equals("Admin", StringComparison.OrdinalIgnoreCase))
                    {
                        <li>@Html.ActionLink("Statistic-Mem", "StatisticMember", "Admin")</li>
                        <li>@Html.ActionLink("Order-his-mem", "OrdersAll", "Order")</li>
                        <li>@Html.ActionLink("Logout", "AdminLogout", "Admin")</li>
                    }
                    else
                    {
                        if (Session["User"] != null)
                        {
                            <li>@Html.ActionLink("Statistic", "Statistic", "Food")</li>
                            <li>@Html.ActionLink("Order_history", "Orders", "Order")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "Register", "User")</li>
                            <li>@Html.ActionLink("Login", "Login", "User")</li>
                        }
                    }
                </ul>

                <!--Add div để điều chỉnh search cân đối-->
                <div class="navbar-form navbar-right">
                    @{
                        string admin = ViewContext.RouteData.Values["controller"] as string;
                    }
                    @if (Session["Admin"] != null && admin.Equals("Admin", StringComparison.OrdinalIgnoreCase))
                    {
                        using (Html.BeginForm("AdminDashboard", "Admin", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control" value="@ViewBag.keywords" name="searchString" placeholder="Search food name..." />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                </span>
                            </div>
                        }
                    }
                    else if ((Session["User"] != null || Session["User"] == null) && !admin.Equals("Admin", StringComparison.OrdinalIgnoreCase))
                    {
                        using (Html.BeginForm("Index", "Food", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control" value="@ViewBag.keyword" name="searchString" placeholder="Search food name..." />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info"  >
                                        <span class="glyphicon glyphicon-search"></span> Search 
                                    </button>
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TCK TEAM Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
